war/src/webapp/dtds/modes.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Copyright (2007) Schibsted Søk AS
 *   This file is part of SESAT.
 *
 *   SESAT is free software: you can redistribute it and/or modify
 *   it under the terms of the GNU Affero General Public License as published by
 *   the Free Software Foundation, either version 3 of the License, or
 *   (at your option) any later version.
 *
 *   SESAT is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Affero General Public License for more details.
 *
 *   You should have received a copy of the GNU Affero General Public License
 *   along with SESAT.  If not, see <http://www.gnu.org/licenses/>.
    TODO define vocabulary indentification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/modes.dtd

-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT modes (mode)*>
<!ATTLIST modes
    template-prefix CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT mode (command|fast-command|math-command|news-command|overture-ppc-command|picture-command|sensis-command|stock-command|web-command|whitepages-command|yellowpages-command|tvsearch-command|stormweather-command)*>
<!ATTLIST mode
    inherit CDATA #IMPLIED
    analysis CDATA #IMPLIED
    executor CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT command EMPTY>
<!ATTLIST command
    results-to-return CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    query-parameter CDATA #IMPLIED
    paging CDATA #IMPLIED
    field-filters CDATA #IMPLIED
    always-run CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT fast-command (navigators|query-transformers|result-handlers)*>
<!ATTLIST fast-command
    sort-by CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    qt-pipeline CDATA #IMPLIED
    offensive-score-limit CDATA #IMPLIED
    lemmatize CDATA #IMPLIED
    ignore-navigation CDATA #IMPLIED
    keyword-clustering CDATA #IMPLIED
    filter CDATA #IMPLIED
    collections CDATA #IMPLIED
    collapsing CDATA #IMPLIED
    clustering CDATA #IMPLIED
    inherit CDATA #IMPLIED
    id CDATA #IMPLIED
    spam-score-limit CDATA #IMPLIED
    spellcheck CDATA #IMPLIED
    spellchecklanguage CDATA #IMPLIED
    synonyms CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    relevant-queries CDATA #IMPLIED
    paging CDATA #IMPLIED
    collection CDATA #IMPLIED
    inehrit CDATA #IMPLIED
    query-parameter CDATA #IMPLIED
    always-run CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT math-command (result-handlers)*>
<!ATTLIST math-command
    statistical-name CDATA #IMPLIED
    inherit CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT result-handlers (map-coord|forecast-wind|forecast-date|channel-lookup|tvsearch-sorting|image-helper|category-splitter|phone-number-formatter|multivalued-field-collector|velocity-output|add-doc-count|field-chooser|age-calculator|date-format|weather-date|weather-celcius|sum|content-source-collector|phone-number-chooser|spelling-suggestion-chooser|find-file-format|data-model)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT velocity-output EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT news-command (result-handlers|navigators|query-transformers)*>
<!ATTLIST news-command
    id CDATA #IMPLIED
    collapsing CDATA #IMPLIED
    inherit CDATA #IMPLIED
    field-filters CDATA #IMPLIED
    collections CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    sort-by CDATA #IMPLIED
    ignore-navigation CDATA #IMPLIED
    paging CDATA #IMPLIED
    lemmatize CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT query-transformers (weatherinfopage|weather|now|tvsearch|infopage|exact-title-match|webtv|tv|term-prefix|simple-site-search|prefix-remover)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT prefix-remover EMPTY>
<!ATTLIST prefix-remover
    prefixes CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT overture-ppc-command (result-handlers|query-transformers)*>
<!ATTLIST overture-ppc-command
    statistical-name CDATA #IMPLIED
    url CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    port CDATA #IMPLIED
    partner-id CDATA #IMPLIED
    host CDATA #IMPLIED
    encoding CDATA #IMPLIED
    inherit CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT picture-command (result-handlers|query-transformers)*>
<!ATTLIST picture-command
    paging CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    always-run CDATA #IMPLIED
    inherit CDATA #IMPLIED
    query-server-port CDATA #IMPLIED
    query-server-host CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT sensis-command EMPTY>
<!ATTLIST sensis-command
    inherit CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT stock-command (result-handlers|query-transformers)*>
<!ATTLIST stock-command
    inherit CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT web-command (result-handlers|query-transformers)*>
<!ATTLIST web-command
    spellcheck CDATA #IMPLIED
    spellchecklanguage CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    paging CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    collections CDATA #IMPLIED
    inherit CDATA #IMPLIED
    offensive-score-limit CDATA #IMPLIED
    collapsing CDATA #IMPLIED
    filter CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT simple-site-search EMPTY>
<!ATTLIST simple-site-search
    parameter CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT add-doc-count EMPTY>
<!ATTLIST add-doc-count
    modifier CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT whitepages-command (navigators|result-handlers|query-transformers)*>
<!ATTLIST whitepages-command
    paging CDATA #IMPLIED
    always-run CDATA #IMPLIED
    lemmatize CDATA #IMPLIED
    inherit CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    sort-by CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    qt-pipeline CDATA #IMPLIED
    collections CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT yellowpages-command (navigators|result-handlers|query-transformers)*>
<!ATTLIST yellowpages-command
    paging CDATA #IMPLIED
    always-run CDATA #IMPLIED
    lemmatize CDATA #IMPLIED
    inherit CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    sort-by CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    qt-pipeline CDATA #IMPLIED
    collections CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT field-chooser EMPTY>
<!ATTLIST field-chooser
    fields CDATA #IMPLIED
    target CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT term-prefix EMPTY>
<!ATTLIST term-prefix
    prefix CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT age-calculator EMPTY>
<!ATTLIST age-calculator
    message-format CDATA #IMPLIED
    as-date CDATA #IMPLIED
    date-formt CDATA #IMPLIED
    target CDATA #IMPLIED
    source CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT tv EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT date-format EMPTY>
<!ATTLIST date-format
    prefix CDATA #IMPLIED
    source CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT webtv EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT weather-date EMPTY>
<!ATTLIST weather-date
    target CDATA #IMPLIED
    source CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT weather-celcius EMPTY>
<!ATTLIST weather-celcius
    target CDATA #IMPLIED
    source CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT exact-title-match EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT navigators (navigator)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT navigator (navigator)*>
<!ATTLIST navigator
    display-name CDATA #IMPLIED
    name CDATA #IMPLIED
    field CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT sum EMPTY>
<!ATTLIST sum
    target CDATA #IMPLIED
    navigation CDATA #IMPLIED
    modifiers CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT content-source-collector EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT phone-number-chooser EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT spelling-suggestion-chooser EMPTY>
<!ATTLIST spelling-suggestion-chooser
    long-query-max-suggestions CDATA #IMPLIED
    very-long-query CDATA #IMPLIED
    long-query CDATA #IMPLIED
    much-better CDATA #IMPLIED
    max-distance CDATA #IMPLIED
    max-suggestions CDATA #IMPLIED
    min-score CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT find-file-format EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT data-model EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT multivalued-field-collector EMPTY>
<!ATTLIST multivalued-field-collector
    fields CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT phone-number-formatter EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT infopage EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT category-splitter EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT image-helper EMPTY>
<!ATTLIST image-helper
    fields CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT tvsearch-command (result-handlers|query-transformers|navigators)*>
<!ATTLIST tvsearch-command
    inherit CDATA #IMPLIED
    default-channels CDATA #IMPLIED
    results-to-fetch CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    sort-by CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    collections CDATA #IMPLIED
    paging CDATA #IMPLIED
    always-run CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT tvsearch EMPTY>
<!ATTLIST tvsearch
    with-endtime CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT tvsearch-sorting EMPTY>
<!ATTLIST tvsearch-sorting
    blocks-per-page CDATA #IMPLIED
    results-per-block CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT now EMPTY>
<!ATTLIST now
    prefix CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT channel-lookup EMPTY>
<!ATTLIST channel-lookup
    out CDATA #IMPLIED
    in CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT stormweather-command (result-handlers|navigators|query-transformers)*>
<!ATTLIST stormweather-command
    ignore-navigation CDATA #IMPLIED
    query-parameter CDATA #IMPLIED
    inherit CDATA #IMPLIED
    statistical-name CDATA #IMPLIED
    xml-elements CDATA #IMPLIED
    result-fields CDATA #IMPLIED
    query-server-url CDATA #IMPLIED
    collections CDATA #IMPLIED
    results-to-return CDATA #IMPLIED
    paging CDATA #IMPLIED
    always-run CDATA #IMPLIED
    id CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT weather EMPTY>
<!ATTLIST weather
    default-locations CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT forecast-date EMPTY>
<!ATTLIST forecast-date
    target CDATA #IMPLIED
    source CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT forecast-wind EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT map-coord EMPTY>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT weatherinfopage EMPTY>
