src/wsdl/authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://arcweb.geodata.no" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://arcweb.geodata.no" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://arcweb.geodata.no">
      <s:element name="getToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getToken2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getToken2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getToken2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getVersion">
        <s:complexType />
      </s:element>
      <s:element name="getVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="validateTokenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTokenSoapIn">
    <wsdl:part name="parameters" element="tns:getToken" />
  </wsdl:message>
  <wsdl:message name="getTokenSoapOut">
    <wsdl:part name="parameters" element="tns:getTokenResponse" />
  </wsdl:message>
  <wsdl:message name="getToken2SoapIn">
    <wsdl:part name="parameters" element="tns:getToken2" />
  </wsdl:message>
  <wsdl:message name="getToken2SoapOut">
    <wsdl:part name="parameters" element="tns:getToken2Response" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapIn">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapOut">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="validateTokenSoapIn">
    <wsdl:part name="parameters" element="tns:validateToken" />
  </wsdl:message>
  <wsdl:message name="validateTokenSoapOut">
    <wsdl:part name="parameters" element="tns:validateTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="getToken">
      <wsdl:input message="tns:getTokenSoapIn" />
      <wsdl:output message="tns:getTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getToken2">
      <wsdl:input name="getToken2" message="tns:getToken2SoapIn" />
      <wsdl:output name="getToken2" message="tns:getToken2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionSoapIn" />
      <wsdl:output message="tns:getVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateToken">
      <wsdl:input message="tns:validateTokenSoapIn" />
      <wsdl:output message="tns:validateTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="getToken">
      <soap:operation soapAction="http://arcweb.geodata.no/getToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getToken2">
      <soap:operation soapAction="http://arcweb.geodata.no/getToken2" style="document" />
      <wsdl:input name="getToken2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getToken2">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="http://arcweb.geodata.no/getVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateToken">
      <soap:operation soapAction="http://arcweb.geodata.no/validateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="http://prod.geodata.no/webservices/arcweb/v04/authentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>