core-api/src/main/wsdl/HittaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.hitta.se/HittaService/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.hitta.se/HittaService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.hitta.se/HittaService/">
      <s:import namespace="http://tempuri.org/Result.xsd" />
      <s:import schemaLocation="http://hittacontent1.hitta.se/HittaWebService/HittaService.asmx?schema=ResultCombi" namespace="http://tempuri.org/Result.xsd" />
      <s:element name="GetStreet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addressNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="literal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStreetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStreetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWhiteAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWhiteAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetWhiteAmountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPinkAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="who" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPinkAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPinkAmountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPlaceStreetAmountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaceStreetDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/Result.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetDetailsWithLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="where" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaceStreetDetailsWithLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaceStreetDetailsWithLevelResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/Result.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStreetSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreet" />
  </wsdl:message>
  <wsdl:message name="GetStreetSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreetResponse" />
  </wsdl:message>
  <wsdl:message name="GetNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="GetNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetWhiteAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetWhiteAmount" />
  </wsdl:message>
  <wsdl:message name="GetWhiteAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetWhiteAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPinkAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetPinkAmount" />
  </wsdl:message>
  <wsdl:message name="GetPinkAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetPinkAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetAmount" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetDetails" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetDetailsWithLevelSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetDetailsWithLevel" />
  </wsdl:message>
  <wsdl:message name="GetPlaceStreetDetailsWithLevelSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaceStreetDetailsWithLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="HittaServiceSoap">
    <wsdl:operation name="GetStreet">
      <wsdl:input message="tns:GetStreetSoapIn" />
      <wsdl:output message="tns:GetStreetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <wsdl:input message="tns:GetNameSoapIn" />
      <wsdl:output message="tns:GetNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWhiteAmount">
      <wsdl:input message="tns:GetWhiteAmountSoapIn" />
      <wsdl:output message="tns:GetWhiteAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPinkAmount">
      <wsdl:input message="tns:GetPinkAmountSoapIn" />
      <wsdl:output message="tns:GetPinkAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetAmount">
      <wsdl:input message="tns:GetPlaceStreetAmountSoapIn" />
      <wsdl:output message="tns:GetPlaceStreetAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetails">
      <wsdl:input message="tns:GetPlaceStreetDetailsSoapIn" />
      <wsdl:output message="tns:GetPlaceStreetDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetailsWithLevel">
      <wsdl:input message="tns:GetPlaceStreetDetailsWithLevelSoapIn" />
      <wsdl:output message="tns:GetPlaceStreetDetailsWithLevelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HittaServiceSoap" type="tns:HittaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStreet">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetStreet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhiteAmount">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetWhiteAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPinkAmount">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetPinkAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetAmount">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetails">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetailsWithLevel">
      <soap:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetDetailsWithLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HittaServiceSoap12" type="tns:HittaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStreet">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetStreet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetName">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWhiteAmount">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetWhiteAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPinkAmount">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetPinkAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetAmount">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetails">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaceStreetDetailsWithLevel">
      <soap12:operation soapAction="http://www.hitta.se/HittaService/GetPlaceStreetDetailsWithLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HittaService">
    <wsdl:port name="HittaServiceSoap" binding="tns:HittaServiceSoap">
      <soap:address location="http://hittacontent1.hitta.se/HittaWebService/HittaService.asmx" />
    </wsdl:port>
    <wsdl:port name="HittaServiceSoap12" binding="tns:HittaServiceSoap12">
      <soap12:address location="http://hittacontent1.hitta.se/HittaWebService/HittaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>