core-api/src/main/wsdl/mapimage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://prod.geodata.no/webservices/arcweb" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://prod.geodata.no/webservices/arcweb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://prod.geodata.no/webservices/arcweb">
      <s:element name="convertMapCoordToPixelCoord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viewExtent" type="tns:Envelope" />
            <s:element minOccurs="0" maxOccurs="1" name="mapImageSize" type="tns:MapImageSize" />
            <s:element minOccurs="0" maxOccurs="1" name="mapCoord" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Envelope">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="coordinateSystem" type="tns:CoordinateSystem" />
          <s:element minOccurs="1" maxOccurs="1" name="minX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="minY" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="maxX" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="maxY" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CoordinateSystem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="datumTransformation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="projection" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MapImageSize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="coordinateSystem" type="tns:CoordinateSystem" />
          <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="convertMapCoordToPixelCoordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertMapCoordToPixelCoordResult" type="tns:PixelCoord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PixelCoord">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="convertPixelCoordToMapCoord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="viewExtent" type="tns:Envelope" />
            <s:element minOccurs="0" maxOccurs="1" name="mapImageSize" type="tns:MapImageSize" />
            <s:element minOccurs="0" maxOccurs="1" name="mapClickPoint" type="tns:PixelCoord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertPixelCoordToMapCoordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertPixelCoordToMapCoordResult" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBestMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mapImageOptions" type="tns:MapImageOptions" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapImageOptions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="backgroundColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="circles" type="tns:ArrayOfCircleDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="dataSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="displayLayers" type="tns:ArrayOfLayer" />
          <s:element minOccurs="1" maxOccurs="1" name="drawScaleBar" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="lines" type="tns:ArrayOfLineDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="mapImageFormat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mapImageSize" type="tns:MapImageSize" />
          <s:element minOccurs="0" maxOccurs="1" name="markers" type="tns:ArrayOfMarkerDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="outputCoordSys" type="tns:CoordinateSystem" />
          <s:element minOccurs="0" maxOccurs="1" name="polygons" type="tns:ArrayOfPolygonDescription" />
          <s:element minOccurs="1" maxOccurs="1" name="returnLegend" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="scaleBarPixelLocation" type="tns:PixelCoord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCircleDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CircleDescription" nillable="true" type="tns:CircleDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CircleDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="boundaryColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="center" type="tns:Point" />
          <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="units" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Layer" nillable="true" type="tns:Layer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Layer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="layerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="visibility" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLineDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineDescription" nillable="true" type="tns:LineDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="geometry" type="tns:Geometry" />
          <s:element minOccurs="1" maxOccurs="1" name="thickness" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="transparency" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Geometry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="coordinateSystem" type="tns:CoordinateSystem" />
          <s:element minOccurs="0" maxOccurs="1" name="parts" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="points" type="tns:ArrayOfSimplePoint" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSimplePoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SimplePoint" nillable="true" type="tns:SimplePoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SimplePoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="x" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="y" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMarkerDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MarkerDescription" nillable="true" type="tns:MarkerDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MarkerDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="iconDataSource" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="label" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labelDescription" type="tns:LabelDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="location" type="tns:Point" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LabelDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="antialiasing" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="font" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fontColor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fontSize" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fontStyle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="halignment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="interval" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="outlineColor" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="transparency" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="valignment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPolygonDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PolygonDescription" nillable="true" type="tns:PolygonDescription" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PolygonDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="boundaryColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fillColor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fillType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="geometry" type="tns:Geometry" />
          <s:element minOccurs="1" maxOccurs="1" name="transparency" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBestMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBestMapResult" type="tns:MapImageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MapImageInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mapExtent" type="tns:Envelope" />
          <s:element minOccurs="0" maxOccurs="1" name="legendURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mapURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mapFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getBestMapEnvelope">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mapImageOptions" type="tns:MapImageOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBestMapEnvelopeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBestMapEnvelopeResult" type="tns:Envelope" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLayerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSource" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLayerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLayerInfoResult" type="tns:ArrayOfLayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLayerInfoForExtent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mapImageSize" type="tns:MapImageSize" />
            <s:element minOccurs="0" maxOccurs="1" name="mapExtent" type="tns:Envelope" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLayerInfoForExtentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLayerInfoForExtentResult" type="tns:ArrayOfLayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mapExtent" type="tns:Envelope" />
            <s:element minOccurs="0" maxOccurs="1" name="mapImageOptions" type="tns:MapImageOptions" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMapResult" type="tns:MapImageInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMarkerNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iconDataSource" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMarkerNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMarkerNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getMyMarkerNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iconDataSource" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMyMarkerNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMyMarkerNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getVersion">
        <s:complexType />
      </s:element>
      <s:element name="getVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="convertMapCoordToPixelCoordSoapIn">
    <wsdl:part name="parameters" element="tns:convertMapCoordToPixelCoord" />
  </wsdl:message>
  <wsdl:message name="convertMapCoordToPixelCoordSoapOut">
    <wsdl:part name="parameters" element="tns:convertMapCoordToPixelCoordResponse" />
  </wsdl:message>
  <wsdl:message name="convertPixelCoordToMapCoordSoapIn">
    <wsdl:part name="parameters" element="tns:convertPixelCoordToMapCoord" />
  </wsdl:message>
  <wsdl:message name="convertPixelCoordToMapCoordSoapOut">
    <wsdl:part name="parameters" element="tns:convertPixelCoordToMapCoordResponse" />
  </wsdl:message>
  <wsdl:message name="getBestMapSoapIn">
    <wsdl:part name="parameters" element="tns:getBestMap" />
  </wsdl:message>
  <wsdl:message name="getBestMapSoapOut">
    <wsdl:part name="parameters" element="tns:getBestMapResponse" />
  </wsdl:message>
  <wsdl:message name="getBestMapEnvelopeSoapIn">
    <wsdl:part name="parameters" element="tns:getBestMapEnvelope" />
  </wsdl:message>
  <wsdl:message name="getBestMapEnvelopeSoapOut">
    <wsdl:part name="parameters" element="tns:getBestMapEnvelopeResponse" />
  </wsdl:message>
  <wsdl:message name="getLayerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLayerInfo" />
  </wsdl:message>
  <wsdl:message name="getLayerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getLayerInfoForExtentSoapIn">
    <wsdl:part name="parameters" element="tns:getLayerInfoForExtent" />
  </wsdl:message>
  <wsdl:message name="getLayerInfoForExtentSoapOut">
    <wsdl:part name="parameters" element="tns:getLayerInfoForExtentResponse" />
  </wsdl:message>
  <wsdl:message name="getMapSoapIn">
    <wsdl:part name="parameters" element="tns:getMap" />
  </wsdl:message>
  <wsdl:message name="getMapSoapOut">
    <wsdl:part name="parameters" element="tns:getMapResponse" />
  </wsdl:message>
  <wsdl:message name="getMarkerNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getMarkerNames" />
  </wsdl:message>
  <wsdl:message name="getMarkerNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getMarkerNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getMyMarkerNamesSoapIn">
    <wsdl:part name="parameters" element="tns:getMyMarkerNames" />
  </wsdl:message>
  <wsdl:message name="getMyMarkerNamesSoapOut">
    <wsdl:part name="parameters" element="tns:getMyMarkerNamesResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapIn">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="getVersionSoapOut">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="MapImageSoap">
    <wsdl:operation name="convertMapCoordToPixelCoord">
      <wsdl:input message="tns:convertMapCoordToPixelCoordSoapIn" />
      <wsdl:output message="tns:convertMapCoordToPixelCoordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertPixelCoordToMapCoord">
      <wsdl:input message="tns:convertPixelCoordToMapCoordSoapIn" />
      <wsdl:output message="tns:convertPixelCoordToMapCoordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBestMap">
      <wsdl:input message="tns:getBestMapSoapIn" />
      <wsdl:output message="tns:getBestMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBestMapEnvelope">
      <wsdl:input message="tns:getBestMapEnvelopeSoapIn" />
      <wsdl:output message="tns:getBestMapEnvelopeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLayerInfo">
      <wsdl:input message="tns:getLayerInfoSoapIn" />
      <wsdl:output message="tns:getLayerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLayerInfoForExtent">
      <wsdl:input message="tns:getLayerInfoForExtentSoapIn" />
      <wsdl:output message="tns:getLayerInfoForExtentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMap">
      <wsdl:input message="tns:getMapSoapIn" />
      <wsdl:output message="tns:getMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMarkerNames">
      <wsdl:input message="tns:getMarkerNamesSoapIn" />
      <wsdl:output message="tns:getMarkerNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMyMarkerNames">
      <wsdl:input message="tns:getMyMarkerNamesSoapIn" />
      <wsdl:output message="tns:getMyMarkerNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionSoapIn" />
      <wsdl:output message="tns:getVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MapImageSoap" type="tns:MapImageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="convertMapCoordToPixelCoord">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/convertMapCoordToPixelCoord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertPixelCoordToMapCoord">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/convertPixelCoordToMapCoord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestMap">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getBestMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBestMapEnvelope">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getBestMapEnvelope" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLayerInfo">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getLayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLayerInfoForExtent">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getLayerInfoForExtent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMap">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMarkerNames">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getMarkerNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyMarkerNames">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getMyMarkerNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="http://prod.geodata.no/webservices/arcweb/getVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MapImage">
    <wsdl:port name="MapImageSoap" binding="tns:MapImageSoap">
      <soap:address location="http://prod.geodata.no/webservices/arcweb/v04/mapimage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>